# Created by https://www.gitignore.io/api/macos,jupyternotebooks
# Edit at https://www.gitignore.io/?templates=macos,jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos,jupyternotebooks
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.csv
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.dwg
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000001.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000001.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000001.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000001.TablesByName.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000002.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000002.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000003.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000003.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000003.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.CatItemsByPhysicalName.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.CatItemsByType.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.FDO_UUID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.freelist
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000004.spx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000005.CatItemTypesByName.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000005.CatItemTypesByParentTypeID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000005.CatItemTypesByUUID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000005.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000005.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000005.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.CatRelsByDestinationID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.CatRelsByOriginID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.CatRelsByType.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.FDO_UUID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000006.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.CatRelTypesByBackwardLabel.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.CatRelTypesByForwardLabel.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.CatRelTypesByName.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.CatRelTypesByUUID.atx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000007.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000009.gdbindexes
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000009.gdbtable
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000009.gdbtablx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/a00000009.spx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/gdb
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.gdb/timestamps
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops.xml
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.cpg
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.dbf
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.prj
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.sbn
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.sbx
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.shp
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.shp.xml
data/police-pedestrian-stops-and-vehicle-stops/police_pedestrian_stops_and_vehicle_stops/police_pedestrian_stops_and_vehicle_stops.shx
